.about-me-section.section{
	margin-top: 120px;
	margin-bottom: 60px;
}

.about-me-section .description{
 width: 785px;
}

@media screen and (max-width: 768px) {
	.about-me-section.section .title{
		width: 100%;
	}
	
	.about-me-section .description{
		width: 100%;
	}
}